{% extends 'layout.html.twig' %}

{% block content %}
    <!-- Votre contenu pour la page 'details' ici -->
    <p>Contactez-nous à l'adresse : <a href="mailto:{{ contactEmail }}">{{ contactEmail }}</a></p>
{% endblock %}
